<div class="chart-card" style="float:left">
  <div class="title-text">Calls</div>
  <div>
    <button *ngIf="prevIndexes.length !== 0" class="button-back" (click)="goBack()">Go Back</button>
  </div>
  <ngx-charts-bar-vertical (window:resize)="onResize($event)" [view]="view" [scheme]="colorScheme" [results]="currentChartData"
    [gradient]="gradient" [barPadding]="barPadding" [roundDomains]="roundDomains" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [showGridLines]="showGridLines" [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>